/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --fun-blue: #173E92;
  --chamois: #eae7ae;
  --mustard: #fee556;
  --milano-red: #b20808;
}

* {
  box-sizing: border-box;
  background-color:var(--chamois);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Navigation CSS */
header {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

header h1 {
  width: 25%;
  font-weight: 500;
  color: var(--fun-blue);
}

nav {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  cursor: pointer;
  text-decoration: none;
  color: var(--fun-blue);
  padding: 20px;
  font-size: 18px;
}

/* Grid CSS */

#page-wrapper {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 90vh;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "aboutHeader about"
  "workHeader work"
  "contactHeader contact";
}

#aboutHeader {
  grid-area: aboutHeader;
  background-color: green 
}

#about {
  grid-area: about;
  background-color: blue  
}

#workHeader {
  grid-area: workHeader;
  background-color: yellow; 
}

#work {
  grid-area: work;
  background-color: black;  
}

#contactHeader {
  grid-area: contactHeader;
  background-color:red; 
}

#contact {
  grid-area: contact;
  background-color: purple;
}
